version: '3'

services:
  postgres:
    container_name: postgres
    image: postgres:14-alpine
    env_file:
      - src/.env
    expose:
      - 5432


  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    env_file:
      - src/.env
    ports:
      - "5050:50"


  game_app:
    container_name: game_app
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - src/.env
    command: gunicorn main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - postgres


  nginx:
    container_name: nginx
    image: nginx:alpine
    env_file:
      - src/.env
    ports:
      - "9000:80"
    volumes:
      - media:/game_app/media/
      - ./nginx/nginx.conf /etc/nginx/conf.d/nginx.conf
    depends_on:
      - game_app

volumes:
  media:
